$primary-background-color : blue;
$primary-font-color       : white;
$primary-hover-color      : rgb(34, 34, 214);
$primary-input-color      : rgb(73, 73, 206);


$common-font-family       : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$secondary-font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;