@import "../styles/colors.scss";
@import "../styles/variables.scss";

.menu-navbar {
	display         : flex;
	justify-content : space-between;
	align-items     : center;
	padding         : $menu-padding-top $padding-right;

	p {
		font-size   : 15px;
		cursor      : pointer;
		font-family : $common-font-family;
	}

	p:hover {
		text-decoration: underline;
	}
}

.menu-list {
	display         : flex;
	gap             : 4rem;
	justify-content : space-between;
}