@import "../styles/colors.scss";
@import "../styles/variables.scss";

.table-div {
	display: flex;
	justify-content: center;
	padding: $padding;
}

.table-div h1 {
	font-size: $header-font-size;
}

.table-container {
	display: block;
}

.table-component {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

table, th, td {
	text-align: center;
	background-color: $primary-background-color;
	padding: $table-padding;
	border-radius: 5px;
	font-size: $text-font-size;
}

td:hover {
	cursor: pointer;
	background-color: $primary-hover-color;
}