@import "../styles/colors.scss";
@import "../styles/variables.scss";

.table-div {
	display          : flex;
	justify-content  : center;
	align-items      : center;
	padding-top      : $table-padding-top;
}

.table-container {
	display          : block;
	background-color : $primary-background-color;
	border-radius    : (0.5 * $table-border-radius);
	padding-bottom   : $header-margin-bottom;
}

.table-container h1 {
	font-size        : (2 * $table-font-size);
	padding          : 15px 30px;
	font-family      : $common-font-family;
}

.search-bar {
	background-color: $primary-input-color
}

.search-bar input {
	background-color: $primary-input-color
}

.search-bar input:focus {
	outline  : none;
	border   : none;
}

.search-bar i {
	padding: 10px;
}

.table-component {
	align-items: center;
}

table, th, td {
	text-align       : center;
	background-color : $primary-background-color;
	padding          : $table-padding;
	border-radius    : (0.5 * $table-border-radius);
	font-size        : $table-font-size;
	white-space      : nowrap;
	font-family      : $common-font-family;
}

tbody td:hover {
	background-color : rgb(78, 76, 188);
	cursor           : pointer;
}
