
@import "../styles/variables.scss";
@import "../styles/colors.scss";

.title-data {
	display          : grid;
	place-items      : center;
	padding          : $padding-left $padding-bottom;
	color            : $primary-font-color;
	background-color : $primary-background-color;
}

.title-data h1 {
	font-size   : $header-font-size ;
	font-family : $common-font-family;
}

.title-data div {
	display         : flex;
	width           : (5 * $button-width);
	padding-top     : $table-padding;
	justify-content : center;
	text-align      : center;
	font-family     : $secondary-font-family;
}

.title-data button {
	padding          : $header-margin-bottom;
	margin-top       : $table-padding;
	border-radius    : $table-border-radius;
	font-weight      : $primary-font-weight;
	color            : $primary-background-color;
	font-family      : $common-font-family;
	background-color : $primary-font-color;
}

.second-section {
	padding-top: $padding-top;
}
