
$padding-left      : 150px;
$padding-right     : 150px;
$padding-top       : 80px;
$padding-bottom    : 50px;
$padding           : 100px;

$primary-font-size   : 30px;
$header-font-size    : 45px;
$text-font-size      : 20px;
$table-font-size     : 15px;
$logo-font-size      : 35px;
$primary-height      : 100px;
$primary-font-weight : 600;
$table-border-radius : 10px;

$header-margin-bottom : 15px;
$text-margin-bottom   : 25px;

$button-height     : 30px;
$button-width      : 80px;
$button-text-size  : 15px;

$image-width       : 50px;
$image-height      : 50px;

$menu-padding-top  : 20px;
$table-padding     : 25px;
$table-padding-top : 50px;
